@page "/fetchdata"
@using BehindTheWheel.GameMechanics
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


@code {
    protected override async Task OnInitializedAsync()
    {
        TheSpiritOfBrooklandsCards.theSpiritOfBrooklandsCards = await Http.GetFromJsonAsync<List<TheSpiritOfBrooklandsCard>>("resources/theSpiritOfBrooklandsCards.json");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
